*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #181818;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.content{
    transform: translateY(60px);
}
.content i{
    transform: translateY(3.5px);
    margin-right: 12px;
    font-size: 26px;
}
.communityauthor{
    margin-top: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: calc(100% - 100px);
}
.websitelnkbutton{
    padding: 10px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 0.3s;
    color: #000;
}
.websitelnkbutton:hover{
    transform: scale(0.95);
}
.homefilterselect{
    margin-top: 20px;
    margin-left: 25px;
    text-align: left;
}
.storyfilter{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.storyfilteractive{
    background-color: #242424;
    padding: 7px;
    font-size: 23px;
    outline: 1px solid #5d5d5d;
    font-weight: 700;
    border-radius: 10px;
}
.nav{
    background-color: #120dbf;
    height: 64px;
    border-bottom: solid 1px #ffffff6b;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.nav .logo{
    height: 35px;
    margin-left: 21px;
    margin-top: 15px;
    cursor: pointer;
    transition: ease 0.2s;
}
.homeheading{
    color: #fff;
    padding-top: 10px;
    transform: translateY(15px);
    margin-left: 25px;
    font-size: 35px;
    font-weight: 600;
}
.homesubheading{
    color: #fff;
    padding-top: 10px;
    transform: translateY(15px);
    margin-left: 25px;
    font-size: 20px;
    padding-right: 10px;
    font-weight: 300;
}
.homesubheading b{
    font-weight: 500;
}
.rightbuttons .uploadnav{
    font-size: 20px;
    outline: 1px solid #ffffff73;
    background-color: rgba(255, 255, 255, 0.816);
    align-items: center;
    font-weight: 500;
    padding: 2px 9px 3px 4px;
    border: none;
    transform: translateY(-2.5px);
    padding-bottom: 8px;
    color: #000000;
    border-radius: 15px;
    cursor: pointer;
}
.rightbuttons .uploadnav i{
    font-size: 27px;
    transform: translateY(5px);
}
.rightbuttons .homebutton i{
    font-size: 27px;
    transform: translateY(2px);
}
.rightbuttons{
    float: right;
    margin-right: 21px;
    margin-top: 14px;
}
.article{
    padding: 50px;
    transform: translateY(-20px);
}
.article .articleinfo{
    width: 100%;
    padding: 10px;
    outline: 1px solid #525252;
    background-color: #242424;
    border-radius: 12px;
}
.article .headline{
    font-size: 35px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
}
.article .bannerimg{
    width: 80%;
    object-fit: cover;
    margin-top: 20px;
    height: 300px;
    border-radius: 20px;
}
.article .articlebody{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    color: #cbcbcb;
}
.article .subtext{
    color: #cbcbcb;
    margin-top: 10px;
    font-size: 28px;
}
.article .postdate{
    color: #fff;
}
.article .author{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.article .imagegrid{
    display: flex;
}
.article .imagegrid .gridimage{
    width: calc(25% - 20px);
    margin-right: 20px;
    margin-top: 23px;
    border-radius: 15px;
    outline: 1px solid #626262;
    transition: ease 0.3s;
}
.article .imagegrid .gridimage:hover{
    transform: scale(1.04);
    cursor: pointer;
}
.footer{
    background-color: #cccccc;
    height: 190px;
    padding: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.footer .footertext{
    font-size: 23px;
    letter-spacing: -0.8px;
    line-height: 31px;
    font-weight: 500;
    padding-left: 14px;
    padding-right: 10px;
}
.footer .copyrighttext{
    font-size: 19px;
    letter-spacing: -0.8px;
    line-height: 1;
    font-weight: 600;
    padding-left: 14px;
    padding-right: 10px;
}
.tiles{
    display: grid;
    padding: 20px;
    grid-template-columns: 50% 50%;
}
.home-icon{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 220px;
    padding-right: 12px;
    padding-top: 10px;
    border-radius: 9px;
    cursor: pointer;
    transition: ease 0.5s;
}
.home-icon .thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(60%);
    outline: 1px solid #5b5b5b;
}
.home-icon:hover{
    transform: scale(1.02);
    filter: brightness(1.4);
}
.home-icon .article-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 1.1;
    width: 75%;
    color: #ffffff;
    padding-right: 10px;
}
.home-icon .article-date{
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}
.overlaytext{
    position: absolute;
    bottom: 18px;
    left: 17px;
}
.overlaytext hr{
   width: 80%;
   opacity: 60%;
   border-top: 1.2px solid #ffffff79;
   border-bottom: 1.5px solid #ffffff79;
   border-radius: 5px;
   transform: translateY(8px);
}
.splitarticle{
    display: flex;
}
.splitarticle p{
    margin-right: 40px;
}
.uploadsheet{
    padding: 35px;
}
.uploadsheet h1{
    font-size: 35px;
    color: #fff;
}
.uploadsheet h2{
    margin-top: 15px;
    font-size: 25px;
    color: #c6c6c6;
    font-weight: 400;
}
.submitoptions{
    display: flex;
    width: 100%;
}
.submitoptions a{
    width: 100%;
    margin-right: 10px;
}
.uploadsheet .getintouch{
    margin-top: 35px;
    background-color: #252525;
    padding: 15px;
    outline: 1px solid #4c4c4c;
    border-radius: 15px;
}
.uploadsheet .getintouch h3{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}
.uploadsheet .getintouch button{
    width: 100%;
    margin-top: 15px;
    border: none;
    border-radius: 11px;
    margin-right: 10px;
    font-size: 25px;
    color: #000;
    padding: 10px;
    transition: ease 0.2s;
    cursor: pointer;
    outline: 1px solid #0000004b;
}
.uploadsheet .getintouch button:hover{
    transform: scale(1.02);
}
.uploadsheet .getintouch .submitoption1{
    background-color: #b1d7f6;
}
.uploadsheet .getintouch .submitoption2{
    background-color: #e4e4a4;
}
@media screen and (max-width: 650px) {
    .tiles{
        display: block;
        padding: none;
    }
    .home-icon{
        padding-left: 0px;
        padding-right: 0px;
        height: 300px;
        border-radius: 15px;
    }
    .home-icon .article-title{
        font-size: 25px;
    }
    .article{
        padding: 20px;
    }
    .article .bannerimg{
        width: 100%;
        object-fit: cover;
        margin-top: 20px;
        height: 180px;
        border-radius: 20px;
    }
    .article .articlebody{
        font-size: 22px;
        line-height: 1.4;
        margin-top: 20px;
    }
    .article .headline{
        font-size: 26px;
        margin-top: 25px;
        line-height: 1.2;
        font-weight: 500;
    }
    .article .postdate{
        font-size: 19px;
    }
    .article .imagegrid{
        display: block;
    }
    .article .imagegrid .gridimage{
        width: 100%;
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 15px;
    }
    .footer{
        height: 240px;
        padding: 30px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .splitarticle{
        display: block;
    }
        .submitoptions{
        display: block;
    }
    .uploadsheet .getintouch button{
        width: 100%;
    }
    .splitarticle p{
    margin-right: 0px;
}
}
@media screen and (max-width: 450px) {
    .home-icon .article-title{
        font-size: 20px;
    }
    .home-icon{
        position: relative;
        object-fit: cover;
        width: calc(100%-90px);
        height: 300px;
        margin-left: 2px;
        margin-right: 10px;
        padding-top: 10px;
        border-radius: 15px;
        cursor: pointer;
        transition: ease 0.5s;
    }
    .nav .logo{
        height: 30px;
        margin-left: 12px;
        margin-top: 17px;
    }
    .rightbuttons .uploadnav{
        outline: 1px solid #ffffff73;
        background-color: rgba(255, 255, 255, 0.816);
        align-items: center;
        font-weight: 500;
        font-size: 19px;
        border: none;
        transform: translateY(-2.5px);
        padding-bottom: 8px;
        color: #000000;
        border-radius: 15px;
        cursor: pointer;
    }
    .rightbuttons .uploadnav i{
        font-size: 25px;
        transform: translateY(5px);
    }
    .rightbuttons{
        float: right;
        margin-top: 14px;
    }

}